<!DOCTYPE html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Human and Machine Intelliegnce</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- theme meta -->
  <meta name="theme-name" content="dot" />

	<!-- ** CSS Plugins Needed for the Project ** -->

	<!-- Bootstrap -->
	<link rel="stylesheet" href="../static/bootstrap.min.css">
	<!-- themefy-icon -->
	<link rel="stylesheet" href="../static/themify-icons.css">
	<!--Favicon-->
	<link rel="icon" href="../static/favicon.png" type="image/x-icon">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<!-- Main Stylesheet -->
	<link href="../static/style.css" rel="stylesheet" media="screen" />
</head>

<body>
	<!-- header -->
	<header class="banner overlay bg-cover" data-background="images/banner.jpg">
		<nav class="navbar navbar-expand-md navbar-dark">
			<div class="container">
				<a class="navbar-brand px-2" href="index.html">TowerCo Machine Intelliegnce</a>
				<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
					aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse text-center" id="navigation">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link text-dark" href="faq.html">Help</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" href="contact.html">Settings</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- banner -->
		<div class="container section">
			<div class="row">
				<div class="col-lg-8 text-center mx-auto">
					<h1 class="text-white mb-3">Knowledge Base &amp AI Assistance</h1>
					<p class="text-white mb-4">Find advice, answers, summarise about Site Data</p>
					<div class="position-relative">
						<input id="search" class="form-control" placeholder="Like - Give me summary of north region site data, how many faults are there in southern part"><i
							class="ti-search search-icon"></i>
					</div>
				</div>
			</div>
		</div>
		<!-- /banner -->
	</header>
	<!-- /header -->

	<!-- topics -->
	<section class="section">
		<div class="container">
			<div class="row justify-content-center">
				
				<!-- topic-item -->
				<div class="col-lg-4 col-sm-6 mb-4">
					<a  class="px-4 py-5 bg-white shadow text-center d-block match-height">
						<h3 class="mb-3 mt-0">Lease and License Summarisation</h3>
						<p class="mb-2">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
						<form method="POST">
							<div align="center">
							  <button type="submit" class="btn btn-primary">Summarize</button>
							</div>
						  </form>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 mb-4">
					<a href="single.html" class="px-4 py-5 bg-white shadow text-center d-block match-height">
						<h3 class="mb-3 mt-0"> Safety Verification</h3>
						<p class="mb-0">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 mb-4">
					<a href="single.html" class="px-4 py-5 bg-white shadow text-center d-block match-height">
						<h3 class="mb-3 mt-0">Contact Centre Assistance</h3>
						<p class="mb-0">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
					</a>
				</div>
			</div>
		</div>
		
<p>{{data}}</p>

	</section>

</body>

</html>
